/*
   Sass Reset - Converted by Hampton Catlin
   A modification of the original found at...
   http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

.c-signup__form,
.c-login__form {
  min-width: 20em;
  padding: 0.5em;
  opacity: 1;
  -webkit-box-shadow: 2px 2px 8px rgba(9, 96, 165, 0.8);
          box-shadow: 2px 2px 8px rgba(9, 96, 165, 0.8);
  background-color: white; }

.c-signup__title {
  width: 100%;
  text-align: center; }

.c-signup__container,
.c-login__container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.4);
  opacity: 0;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center; }

.c-signup__field {
  position: relative;
  background: #fff;
  border-top: 1px solid #2196f3; }

.c-signup__close + .c-signup__field,
.c-login__close + .c-signup__field {
  border-top: none; }

.c-signup__field,
.c-signup__field > input[type="submit"] {
  max-width: 100%; }

.c-signup__field > input[type="text"],
.c-signup__field > input[type="password"] {
  width: 100%;
  border: 0;
  padding: 1em; }

.c-signup__field > input[type="text"]:focus,
.c-signup__field > input[type="password"]:focus {
  outline: 0; }

.c-signup__field > input[type="text"]:focus + label,
.c-signup__field > input[type="password"]:focus + label {
  display: none; }

.c-signup__field > input[type="text"]:valid + label,
.c-signup__field > input[type="password"]:valid + label {
  display: none; }

.c-signup__field > input[type="text"]:invalid,
.c-signup__field > input[type="password"]:invalid {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

.c-signup__field > label {
  opacity: 0.3;
  font-weight: bold;
  position: absolute;
  padding: 1rem;
  left: 0; }

input[type="submit"] {
  display: block;
  width: -webkit-calc(100% + 1rem);
  width: calc(100% + 1rem);
  border: 0;
  cursor: pointer;
  font-size: 1.25em;
  padding: 0.5em;
  font-family: sans-serif;
  color: white;
  background-color: #2196f3;
  margin: 0 -.5rem -.5rem;
  -webkit-transition: background-color 0.22s ease-in-out;
  transition: background-color 0.22s ease-in-out; }
  input[type="submit"]:hover {
    background-color: #6ab8f7; }

.c-signup__message {
  padding: 1em;
  font-family: sans-serif;
  font-size: 0.9em;
  display: none;
  opacity: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  border-top: 1px solid #2196f3; }

.c-signup__message svg {
  margin-right: 0.5rem; }

.c-signupLogin___ctrls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.c-signup__open,
.c-login__open {
  color: #2196f3;
  padding: 1em 1em 1em 0;
  font-size: 1em;
  cursor: pointer; }

.c-signup__close,
.c-login__close {
  background-color: #2196f3;
  margin: -.5rem -.5rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: background-color 0.22s ease-in-out;
  transition: background-color 0.22s ease-in-out; }
  .c-signup__close:hover,
  .c-login__close:hover {
    background-color: #6ab8f7; }

.c-signup__close svg,
.c-login__close svg {
  cursor: pointer; }
